5432. Average Salary Excluding the Minimum and Maximum Salary
Given an array of unique integers salary where salary[i] is the salary of the employee i.

Return the average salary of employees excluding the minimum and maximum salary.

 

Example 1:

Input: salary = [4000,3000,1000,2000]
Output: 2500.00000
Explanation: Minimum salary and maximum salary are 1000 and 4000 respectively.
Average salary excluding minimum and maximum salary is (2000+3000)/2= 2500
Example 2:

Input: salary = [1000,2000,3000]
Output: 2000.00000
Explanation: Minimum salary and maximum salary are 1000 and 3000 respectively.
Average salary excluding minimum and maximum salary is (2000)/1= 2000
Example 3:

Input: salary = [6000,5000,4000,3000,2000,1000]
Output: 3500.00000
Example 4:

Input: salary = [8000,9000,2000,3000,6000,1000]
Output: 4750.00000

In [6]:
# Input: 
salary = [4000,3000,1000,2000,1000]
# Output: 2500.00000

In [7]:
current_min = min(salary)
current_min

1000

In [8]:
while current_min in salary:
    salary.pop(salary.index(current_min))

In [9]:
salary

[4000, 3000, 2000]

In [10]:
current_max = max(salary)
current_max

4000

In [11]:
current_min = min(salary)
while current_min in salary:
    salary.pop(salary.index(current_min))
current_max = max(salary)
while current_max in salary:
    salary.pop(salary.index(current_max))

In [12]:
salary

[3000, 2000]

In [13]:
result = sum(salary) / len(salary)
result

2500.0

5433. The kth Factor of n
User Accepted:4138
User Tried:4185
Total Accepted:4187
Total Submissions:5468
Difficulty:Medium
Given two positive integers n and k.

A factor of an integer n is defined as an integer i where n % i == 0.

Consider a list of all factors of n sorted in ascending order, return the kth factor in this list or return -1 if n has less than k factors.

 

Example 1:

Input: n = 12, k = 3
Output: 3
Explanation: Factors list is [1, 2, 3, 4, 6, 12], the 3rd factor is 3.
Example 2:

Input: n = 7, k = 2
Output: 7
Explanation: Factors list is [1, 7], the 2nd factor is 7.
Example 3:

Input: n = 4, k = 4
Output: -1
Explanation: Factors list is [1, 2, 4], there is only 3 factors. We should return -1.
Example 4:

Input: n = 1, k = 1
Output: 1
Explanation: Factors list is [1], the 1st factor is 1.
Example 5:

Input: n = 1000, k = 3
Output: 4
Explanation: Factors list is [1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000].

In [44]:
def factors(n, k):    
    result = set()
    for i in range(1, int(n ** 0.5) + 1):
        div, mod = divmod(n, i)
        if mod == 0:
            result |= {i, div}
            
    print(sorted(result))
    
    if k>len(result):
        return -1
    else:
        return list(sorted(result))[k-1]

In [38]:
factors(12, 3)

[1, 2, 3, 4, 6, 12]

3

In [39]:
factors(7, 2)

[1, 7]

7

In [40]:
factors(4, 4)

[1, 2, 4]

-1

In [41]:
factors(1, 1)

[1]

1

In [42]:
factors(1000, 3)

[1, 2, 4, 5, 8, 10, 20, 25, 40, 50, 100, 125, 200, 250, 500, 1000]

4

In [45]:
factors(24, 6)

[1, 2, 3, 4, 6, 8, 12, 24]

8

In [119]:
# # Input: 
# nums = [1,1,0,0,1,1,1,0,1]
# # Output: 4

# nums = [1,1,0,1]
# # Output: 3

nums = [0,0,1,1] # 2

In [214]:
st = ""
for n in nums:
    st = st + str(n)

In [215]:
st

'1001111100000011101111101111111101100011001111111111111100001111011'

In [216]:
splt = st.split("0")
splt

['1',
 '',
 '11111',
 '',
 '',
 '',
 '',
 '',
 '111',
 '11111',
 '11111111',
 '11',
 '',
 '',
 '11',
 '',
 '11111111111111',
 '',
 '',
 '',
 '1111',
 '11']

In [218]:
[len(s) for s in splt]

[1, 0, 5, 0, 0, 0, 0, 0, 3, 5, 8, 2, 0, 0, 2, 0, 14, 0, 0, 0, 4, 2]

In [123]:
# st2 = "1100011101"

In [124]:
# splt = st2.split("0")
# splt

In [125]:
# for ite,s in enumerate(splt):
#     print(ite)
#     if (not splt[ite]) and (not splt[ite+1]):
#         print(ite, "empty")

In [126]:
[s for s in splt if s]

['11']

In [138]:
for s in splt:
    if s:
        print(len(s))

2

In [66]:
i = 0
longest = 0

while i<len(splt)-1:
    
    if splt[i] and splt[i+1]:
        if len(splt[i]) + len(splt[i+1]) > longest:
            longest = len(splt[i]) + len(splt[i+1])
    
    i = i+1

In [67]:
longest

3

In [221]:
def longestSubarray(nums):
    st = ""
    for n in nums:
        st = st + str(n)
    
    
    splt = st.split("0")
    if len(splt) == 1:
        return len(nums)-1
    else:
        in_splt = [s for s in splt if s]
        if len(in_splt) == 0:
            return 0
        
        if len(in_splt) == 1:
            return len(in_splt[0])
        
        longest = len(in_splt[0])

    i = 0
    # longest = len(splt[0])
    print(longest, splt)
    while i<len(splt)-1:
        # print(longest, splt)
        if splt[i] and splt[i+1]:
            
            if len(splt[i]) + len(splt[i+1]) > longest:
                longest = len(splt[i]) + len(splt[i+1])
        if splt[i]:
            if len(splt[i]) > longest:
                longest = len(splt[i])
        i = i+1

    return longest

In [222]:
# nums = [1,1,0,0,1,1,1,0,1]
# # Output: 4

# nums = [1,1,1] # 2
# nums = [1,0,0,0,0] # 1
# nums = [0,0,1,1] # 2

# nums = [0,1,1,1,0,0,1,1,0] # 3
# nums = [0,0,0]

nums = [1,0,0,1,1,1,1,1,0,0,0,0,0,0,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,1,1,0,0,0,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,1,1,1,1,0,1,1]

In [223]:
len(nums)

67

In [224]:
longestSubarray(nums)

1 ['1', '', '11111', '', '', '', '', '', '111', '11111', '11111111', '11', '', '', '11', '', '11111111111111', '', '', '', '1111', '11']

14

In [196]:
len([])

0

In [157]:
len("111".split("0"))

1

5435. Parallel Courses II
User Accepted:645
User Tried:1800
Total Accepted:714
Total Submissions:4021
Difficulty:Hard
Given the integer n representing the number of courses at some university labeled from 1 to n, and the array dependencies where dependencies[i] = [xi, yi]  represents a prerequisite relationship, that is, the course xi must be taken before the course yi.  Also, you are given the integer k.

In one semester you can take at most k courses as long as you have taken all the prerequisites for the courses you are taking.

Return the minimum number of semesters to take all courses. It is guaranteed that you can take all courses in some way.

 

Example 1:



Input: n = 4, dependencies = [[2,1],[3,1],[1,4]], k = 2
Output: 3 
Explanation: The figure above represents the given graph. In this case we can take courses 2 and 3 in the first semester, then take course 1 in the second semester and finally take course 4 in the third semester.
Example 2:



Input: n = 5, dependencies = [[2,1],[3,1],[4,1],[1,5]], k = 2
Output: 4 
Explanation: The figure above represents the given graph. In this case one optimal way to take all courses is: take courses 2 and 3 in the first semester and take course 4 in the second semester, then take course 1 in the third semester and finally take course 5 in the fourth semester.
Example 3:

Input: n = 11, dependencies = [], k = 2
Output: 6